.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 20px;
}

.table-head {
  color: red;
  font-weight: bold;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.line {
  height: 1px;
  background-color: #dddddd;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
